
h2{
    color: darkcyan;}
h3{
    color: #5720af;}
    p{font-size: 50px;
        font-weight: 100;
        font-family: Impact,
        
         Haettenschweiler, 
        'Arial Narrow Bold', sans-serif;
        background-color: burlywood;
        font-variant: small-caps;}
        body{display: flex;
            flex-flow: column ;
            justify-content: center;
        align-items: center;}


    